.navigationButton{
  display: flex;
  align-items: center;
  float:left;
  background-color: darkgrey;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

