<div class="componentContainer" [class.disabled]="!isConnected">
  <div class="row">
    <div class="leftContainer">
      <div>Topic</div>
      <div class="topicSearchSubscribeContainer">
        <app-topic-search [filteredTopics]="getFilteredTopics()" style="width: 100%;"
                          (topicChanged$)="onTopicChosen($event)"></app-topic-search>
        <button class="subscribeUnsubscribeButton" (click)="subscribe()">Subscribe</button>
      </div>

      <div>
        <div class="topicList">
          <div *ngFor="let topic of subscribedTopics" class="topic">
            <button class="topicButton" [class.active]="isActive"
                    (click)="subscribedTopicClicked($event)">{{ topic }}</button>
            <button class="subscribeUnsubscribeButton" *ngIf="isSubscribedToTopic(topic)" (click)="unsubscribe(topic)">
              Unsubscribe
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="rightContainer">
      <h2>Received messages</h2>
      <app-message-history [messages]="messages"></app-message-history>
    </div>
  </div>
</div>

<div class="popupOverlay" *ngIf="showMessagePopup">
  <div class="popupContainer">
    <h2>messages</h2>
    <app-message-history [messages]="filteredMessages" (messagesChanged$)="onMessageHistoryChanged($event)"></app-message-history>
    <div class="popupCloseButton" (click)="closeMessagePopup()">X</div>
  </div>
</div>
