@import "src/app/theme";

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.topicList {
  height: calcHeight(200);
}


.topicSelect {
  height: 100%;
  width: 100%;
}

.topicInput {
  width: 100%;
}

.topicButton {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subscribeUnsubscribeButton {
  float: right;
  width: calcWidth(120);
  padding: 0;
}

.topic {
  overflow: hidden;
  display: flex;
}
.topicSearchSubscribeContainer{
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-bottom: calcHeight(40);
}
.unsubscribeConfirmation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmationContainer {
  background-color: white;
  padding: calcWidth(20);
  text-align: center;
}

.confirmationButton {
  margin: calcWidth(10);
}
