@import "src/app/theme";

.publishedMessagesContainer {
  margin-left: calcWidth(50);
  flex-grow: 1;
}

input {
  width: 100%;
}
.buttonDesign{
  background-color: #636363;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.topicSearch{
  width: 100%;
}
