@import "src/app/theme";


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-container {
  background-color:#e5e5e5;
  padding: calcWidth(20);
  border-radius: calcWidth(5);
  position: relative;
}

.close-button {
  position: absolute;
  top: calcHeight(10);
  right: calcWidth(10);
  padding: calcWidth(5);
}

.confirm-button {
  margin-top: calcHeight(10);
  cursor: pointer;
  background-color: #636363;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-radius: 15px;

}

.notDeletable {
  color: grey;
}

.statusMessage{
  background-color: #646464;
  color: white;
  font-size: 25px;
}
.title {
  font-size: calcHeight(50);
  font-weight: bold;
}

.hostButton {
  width: 100%;
  height: calcHeight(50);
  text-align: left;
  margin: 0;
  border: 0;
  padding: 0 0 0 calcHeight(10);
  background-color: #f2f2f2;
  color: #636363;
  cursor: pointer;
}
.hostButton.active,
.hostButton.active:hover {
  background-color: #636363;
  color: white;

}
h2{
  text-align: center;
  font-weight: bolder;
  background-color: white;
  color: #009fe3;
}

.active{
  background-color: #e5e5e5;
}

.inlineButtons {
  width: 80px;
  height: 30px;
  flex-grow: 1 ;
  margin-top: calcHeight(20);
  background-color: #636363;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;


}
.addRemoveHostButton{
  margin-right: 20px;
}
.deleteButton{
  margin-left: 20px;
}

.hosts {
  overflow: auto;
}

.clientIdContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.connectButton{
height: calcHeight(50);
  width: calcWidth(150);
  margin: calcWidth(10);
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 15px;
  color: white;

}
.connect{
  background-color:#24a500;
  border:1px solid #0b4709;


}
h1{
  color: #636363 ;
}
.disconnect{
  background-color: #bd1622;;
  border:1px solid #4d030d;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-toolbar{
  display: flex;
  justify-content: space-between;
}
.refreshInput{
  color: white;
  background-color: #646464;
  font-size: 20px;
}
.refreshButton {
  margin-left: calcWidth(2);
  height: calcHeight(50);
  width: calcWidth(50);
  background-image: url('~src/assets/images/refresh.svg');
  background-size:100% 100%;
  background-color: #636363 ;
  cursor: pointer;
}

.input{
  height: calcHeight(25);
  width: 80%;
  overflow: auto;
  font-size: 20px;

}
.refreshInput{
  background-color: #646464;
  color: white;
  font-size: 20px;
}
