<div class="componentContainer">
  <div class="row">
    <div class="leftContainer">
      <h1>Host</h1>
      <div *ngFor="let host of hosts">
        <button (click)="onHostChosen($event)" [disabled]="isConnected && host !== activeButton" class="hostButton"
                [class.active]="host === activeButton">{{ host }}</button>

      </div>
      <div class="button-toolbar">
        <button (click)="addNewHost()" class="addRemoveHostButton inlineButtons">add host</button>

        <button (click)="onHostToDeleteChosen()"
                [disabled]="(selectedHost === hosts[0]  || selectedHost === hosts[1] ) ||(isConnected && (selectedHost === hosts[0]  || selectedHost === hosts[1]) )"
                class="deleteButton inlineButtons">delete
        </button>

      </div>
      <div class="popup-overlay" *ngIf="showAddHostPopup">
        <div class="popup-container">
          <button class="close-button" (click)="closeAddHostPopup()">X</button>
          <div class="popupOverlay" *ngIf="showAddHostPopup">
            <div class="popupContainer">
              <button class="closeButton" (click)="closeAddHostPopup()">X</button>

              <h2>MQTT-Broker</h2>
              <input class="input" (input)="updateNewHost($event)">
              <button class="confirm-button" (click)="confirmAddHost()">add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="rightContainer">
        <div class="button-container">
          <button class="connectButton connect" (click)="connect()" [class.disabled]="isConnected">Connect</button>
          <button class="connectButton disconnect" (click)="disconnect()" [class.disabled]="!isConnected">Disconnect
          </button>
        </div>
        <div>
          <div class="flexDirectionColumn">
            <span class="spanTitle">Client ID</span>
            <div class="flexDirectionRow clientIdContainer">
              <input [disabled]="isConnected" (input)="onClientIdChanged($event)"
                     value="{{mqttService.getClientIdChangedObservable() | async}}">
              <button class="refreshButton" [disabled]="isConnected" (click)="generateNewClientId()"></button>
            </div>
          </div>
        </div>
        <div>
          <div class="flexDirectionColumn">
            <span class="spanTitle">Broker Url</span>
            <input class="refreshInput"
              [disabled]="(selectedHost === hosts[0]  || selectedHost === hosts[1] ) ||(isConnected && (selectedHost === hosts[0]  || selectedHost === hosts[1]) )"
              value="{{hostUrl}}">
          </div>
        </div>
        <div class="statusMessagesContainer">
          <h2>Status messages</h2>
          <div class="statusMessages">
            <div class="statusMessage" *ngFor="let message of statusMessages.slice().reverse() ">{{ message }}   </div>
          </div>
        </div>
      </div>
    </div>
  </div>


