<div class="componentContainer">
  <div class="row">
    <div class="leftContainer">
      <h1>Host</h1>
      <div *ngFor="let host of testHosts">
        <button (click)="onHostChosen($event)" class="hostButton"
                [class.active]="host === activeButton">{{ host }}</button>

      </div>
      <button (click)="addNewHost()" class="addRemoveHostButton">add host</button>

      <div class="popup-overlay" *ngIf="showAddHostPopup">
        <div class="popup-container">
          <button class="close-button" (click)="closeAddHostPopup()">X</button>

          <h2>MQTT-Broker</h2>
          <input (input)="updateNewHost($event)">
          <button class="confirm-button" (click)="confirmAddHost()">add</button>
        </div>
      </div>
    </div>
    <div class="rightContainer">
      <div class="button-container">
        <button class="connectButton connect" (click)="connect()" [class.disabled]="isConnected">Connect</button>
        <button class="connectButton disconnect" (click)="disconnect()" [class.disabled]="!isConnected">Disconnect
        </button>
      </div>
      <div>
        <div class="flexDirectionColumn">
          <span>Client ID</span>
          <div class="flexDirectionRow clientIdContainer">
            <input [disabled]="isConnected" (input)="onClientIdChanged($event)" value="{{mqttService.getClientId()}}">
            <button class="refreshButton" [disabled]="isConnected" (click)="generateNewClientId()"></button>
          </div>
        </div>
      </div>
      <div>
        <div class="flexDirectionColumn">
          <span>Broker Url</span>
          <input
            [disabled]="(selectedHost === testHosts[0]  || selectedHost === testHosts[1] ) ||(isConnected && (selectedHost === testHosts[0]  || selectedHost === testHosts[1]) )"
            value="{{mqttService.getHostUrl()}}">
        </div>
      </div>

      <button (click)="onHostToDeleteChosen()"
              [disabled]="(selectedHost === testHosts[0]  || selectedHost === testHosts[1] ) ||(isConnected && (selectedHost === testHosts[0]  || selectedHost === testHosts[1]) )"
              class="deleteButton">delete
      </button>
    </div>
  </div>
</div>


