@import "src/app/theme";


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-container {
  background-color: white;
  padding: calcWidth(20);
  border-radius: calcWidth(5);
  position: relative;
}

.close-button {
  position: absolute;
  top: calcHeight(10);
  right: calcWidth(10);
  padding: calcWidth(5);
}

.confirm-button {
  margin-top: calcHeight(10);
}

.notDeletable {
  color: grey;
}


.title {
  font-size: calcHeight(50);
  font-weight: bold;
}

.hostButton {
  width: 100%;
  height: calcHeight(50);
  text-align: left;
  margin: 0;
  border: 0;
  padding: 0 0 0 calcHeight(10);
  background-color: #f2f2f2;
}
.hostButton.active,
.hostButton.active:hover {
  background-color: #e5e5e5;
}

.active{
  background-color: #e5e5e5;
}

.addRemoveHostButton {
  margin-top: calcHeight(20);
}

.hosts {
  overflow: auto;
}

.clientIdContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.connectButton{
height: calcHeight(50);
  width: calcWidth(150);
  margin: calcWidth(10);
}
.connect{
  background-color: green;
}
.disconnect{
  background-color: red;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.deleteButton {
  position: absolute;
  bottom: calcHeight(10);
  right: calcWidth(10);
}
.refreshButton {
  margin-left: calcWidth(2);
  height: calcHeight(31);
  width: calcWidth(31);
  position: relative;
}

.refreshButton::after {
  font-size: calcHeight(20);
  content: "\21BB";
  position: absolute;
  top: 50%;
  right: calcWidth(5);
  transform: translateY(-50%);
}
.input{
  height: calcHeight(25);
  width: 80%;
  overflow: auto;
}
