@import "./theme";


.header{
  height: calcHeight(50);
  width: 100%;
  display: block;
}

.toggle-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: calcHeight(6) solid transparent;
  border-bottom: calcHeight(6) solid transparent;
  border-right: calcHeight(6) solid #000;
  margin-left: calcWidth(10);
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(-90deg);
}
.title{
  text-align: center;
  font-size: calcHeight(50);
  color: #0584b2;
  background-color: white;
  cursor: auto;
}
h1{
  cursor: pointer;
  color: #636363 ;

  &:hover {
    background-color: #ffffff;
    color: #009fe3;
  }
}
.center{
  align-items: center;
}
.content{
  margin-left: calcWidth(200);
  margin-right: calcWidth(200);
}
.status-indicator {
  display: inline-block;
  align-items: center;
margin-top: 8px;
  width: calcWidth(27);
  height: calcHeight(30);

}
.connected {

  background-image: url('~src/assets/images/connected.png');
  background-size:100% 100%;
}

.disconnected {

  background-image: url('~src/assets/images/disconnected.png');
  background-size:100% 100%;
}

