@import "src/app/theme";

.topic-search {
  position: relative;
  width: 100%;

  input {
   width: 100%;
  }
  .inputTopic{
    background-color: #636363;
    border-bottom: 1px white;
    color: #e5e5e5;
    font-size: 20px;
  }

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: calcHeight(300);
    overflow-y: auto;
    background-color: #fff;
    border: calcWidth(1) solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
.topic-search ul li:hover {
  background-color: #1da1f2;
}
