@import "src/app/theme";

$fontColor: #636363;

body {
//  height: 100vh;
//  width: 100vw;
  padding: 0;
  margin: 0;
  background-color:#e5e5e5;

}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
.spanTitle{
  color: #636363;
  font-size: 25px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.sideButtonDesign{

  background-color: #636363;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.leftContainer {
  width: 40%;
  max-height: calcHeight(400);
  border-right: #636363 dotted;
  margin-top: 20px;
  margin-bottom: calcHeight(20);
  padding-right: calcWidth(20);
  overflow: auto;
}

.componentContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: calcHeight(20);
  height: calcHeight(400);
  overflow: auto;
  margin-bottom: calcHeight(50);
}

.flexDirectionColumn {
  display: flex;
  flex-direction: column;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

input {
  border-color: #ccc
}

.rightContainer {
  padding-left: calcWidth(20);
  max-height: calcHeight(400);
  flex-grow: 1;
  position: relative;
  width: 100%;
  overflow: auto;
}
.message {
  display: flex;
  align-items: center;
  height: calcHeight(60);
  text-align: left;
  padding: 0 0 0 20px;
  margin: calcWidth(20) 0 0 0;
  background-color: #646464;
  color: white;
}


.messageInfo {
  display: flex;
  align-items: center;

  height: calcHeight(25);
  overflow: auto;
  font-size: 17px;

}

.inputCheckbox {
  margin-right: 10px;
}
.payloadString {
  color: antiquewhite;
  font-size: calcHeight(25);
  overflow: auto;
 margin-left: 20px;
}
.payload {
  vertical-align: top;
  height: calcHeight(200);
  text-align: left;
  width: 100%;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popupContainer {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  width: calcWidth(1000);
  max-height: calcHeight(400);
  overflow-y: auto;
}

.popupCloseButton {
  position: absolute;
  top: calcHeight(10);
  right: calcHeight(10);
  cursor: pointer;
  color: red;
  font-size: calcHeight(50);
}

